/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Varela Round";
  src: url("./assets/fonts/VarelaRound-Regular.ttf");
}

body {
  margin: 0px;
  font-family: "Varela Round";
}
