<a
  *ngFor="let item of items"
  class="feed-element"
  (click)="goToUrl(item.story_url || item.url)"
>
  <div class="title">
    {{ item.story_title || item.title }}
  </div>
  <div class="author">- {{ item.author }} -</div>
  <div class="date">
    {{
      isToday(item.created_at)
        ? (item.created_at | date: "shortTime")
        : isYesterday(item.created_at)
        ? "yesterday"
        : (item.created_at | date: "MMM d")
    }}
  </div>
  <div
    class="delete-btn"
    (click)="delete(item.objectID); $event.stopPropagation()"
  >
    <div class="icon">
      <i class="material-icons-outlined">delete</i>
    </div>
  </div>
</a>
